<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    table {
      width: 50%;
      border-collapse: collapse;
      margin: 20px;
    }

    th, td {
      padding: 15px;
      text-align: left;
    }

    th {
      background-color: #6495ED; 
      color: white; 
    }

    tr:nth-child(even) {
      background-color: #f0f8ff; 
    }

    tr:nth-child(odd) {
      background-color: white; 
    }

    .button-container {
      margin: 20px;
    }

    .edit-button {
      background-color: #1e88e5; 
      color: white; 
      padding: 10px 15px;
      text-decoration: none;
      border-radius: 5px;
      margin-right: 10px;
    }

    .back-button {
      background-color: #1e88e5; 
      color: white; 
      padding: 10px 15px;
      text-decoration: none;
      border-radius: 5px;
    }
  </style>
</head>

<body>

  <table>
    <tr>
      <th>Field</th>
      <th>Data</th>
    </tr>
    <tr>
      <td><strong>Categoryevent:</strong></td>
      <td><%= @events_form.categoryevent %></td>
    </tr>
    <tr>
      <td><strong>Grouping:</strong></td>
      <td><%= @events_form.grouping %></td>
    </tr>
    <tr>
      <td><strong>Subgrouping:</strong></td>
      <td><%= @events_form.subgrouping %></td>
    </tr>
    <tr>
      <td><strong>Species:</strong></td>
      <td><%= @events_form.species %></td>
    </tr>
    <tr>
      <td><strong>Subspecies:</strong></td>
      <td><%= @events_form.subspecies %></td>
    </tr>
  </table>

  <div class="button-container">
    <%= link_to 'Edit', edit_events_form_path(@events_form), class: 'edit-button' %>
    <%= link_to 'Back', events_forms_path, class: 'back-button' %>
  </div>

</body>

</html>
