<%= form_with(model: persons_register, local: true) do |form| %>
  <% if persons_register.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(persons_register.errors.count, "error") %> prohibited this persons_register from being saved:</h2>

      <ul>
      <% persons_register.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "dark-blue-text" %>
    <%= form.text_field :name, class: "rounded grey-border bigger-font dark-blue-text" %>
  </div>

  <div class="field">
    <%= form.label :cpf, class: "dark-blue-text" %>
    <%= form.number_field :cpf, class: "rounded grey-border bigger-font dark-blue-text" %>
  </div>

  <div class="field">
    <%= form.label :rg, class: "dark-blue-text" %>
    <%= form.number_field :rg, class: "rounded grey-border bigger-font dark-blue-text" %>
  </div>

  <div class="actions">
    <%= link_to 'Back', root_path, class: "btn waves-effect waves-light dark-blue left-align" %>
    <%= form.submit 'Submit', class: "btn waves-effect waves-light dark-blue" %>
  </div>

  <style>
    .field {
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 20px;
    }

    .dark-blue-text {
      color: #003366 !important; 
      font-size: 16px !important; 
    }

    .grey-border {
      border: 1px solid grey !important;
      border-radius: 5px !important; 
    }

    .bigger-font {
      font-size: 16px !important; 
    }

    .dark-blue {
      background-color: #1e88e5 !important;
    }

    .left-align {
      margin-right: 10px; 
    }
  </style>
<% end %>
