<p id="notice"><%= notice %></p>

<h1>Persons Registers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cpf</th>
      <th>Rg</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @persons_registers.each do |persons_register| %>
      <tr>
        <td><%= persons_register.name %></td>
        <td><%= persons_register.cpf %></td>
        <td><%= persons_register.rg %></td>
        <td><%= link_to 'Show', persons_register %></td>
        <td><%= link_to 'Edit', edit_persons_register_path(persons_register) %></td>
        <td><%= link_to 'Destroy', persons_register, method: :delete, data: { confirm: 'Are you sure you would like to delete all registered data?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Persons Register', new_persons_register_path %>
